/* .landing{
    font-family: 'Righteous', cursive;
font-family: 'Ysabeau SC', sans-serif;
}

.btn{
    display: flex;
    justify-content: flex-end;
} */

@media (max-width: 768px) {
    .landing {
      font-size: 18px;
      font-family: 'Righteous', cursive;
      font-family: 'Ysabeau SC', sans-serif;
    }
  
    .btn {
      justify-content: center;
    }
  }
  